@font-face {
    font-family: yugothib;
    src: url(yugothib.ttf);
}
h3,p,h4,pre,button{
	font-family:yugothib!important;
}

#TOP h3{
	line-height: 1.5
}

section{
	height:auto;
}
section#TOP{
	height:100VH;
}
.padding-texttop{
	padding-top: 26vh;
}
.padding-top-main-text{
    padding-top: 35px;
}
.row{
	margin:0!important;
}
pre{
	font-size: 1rem!important;
	overflow: unset!important;
	white-space: pre-wrap;       /* Since CSS 2.1 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.padding-top-secondary-txt {
	padding-top: 15px;
}
.cat-width {
    max-width: 700px!important;
    margin: 0 245px 0 auto;
}
.border-black{
	height: 250px;
	border: 1px solid #000000!important;
}
.center {
    margin: auto;
}
#COMMENTS p {
    margin-bottom: 0;
}
.border-1 {
    border: solid 1px!important;
    margin-top: 25px;
}
#GALLERY img,#MAP img  {
    max-width: 652px;
    width: 100%;
    height: auto;
}
#MAP img{
	min-width: 652px;
	padding-bottom: 15px;
}
.map-container{
	overflow:auto;
}

/*
map list 
*/
#listmap{
	position: absolute;
}
#listmap li{
	list-style: none;
	position: relative;
}

li#jap{
	top: 165px;
	right: -259px;
}
li#phil {
	top: 197px;
	left: 232px;
}
li#ny {
    top: 110px;
    left: 529px;
}

/*hamburger*/
.dropdown.hamburger_menu{
    position: absolute;
    right: 0;
}
.hambMenu {
    width: 36px;
    background: #bababa;
    height: 3;
    margin: 9px 0 0 0;
}
.dropdown-toggle::after {
    display: none!important;
}
.dropdown-menu{
    left: -170px!important;
    top: -5px!important;
}
.dropdown.hamburger_menu {
    top: 50px;
    right: 50px;
}

a#navdrop {
    position: relative;
    z-index: 11111;
}
a.dropdown-item {
    border-bottom: solid 1px;
    padding: 16px 10px;
    width: 250px;
}
a.dropdown-item:first-child {
    margin-top: 50px;
}


@media (min-height:500px){
	
	section{
		height:100vh;
	}
}

@media (min-width:767px){
	
	.expand-width{
		min-width: 865px;
	}
}
@media (max-width:767px){
	
	
}

