@font-face {
    font-family: yugothib;
    src: url(yugothib.ttf);
}
h3,p,h4,pre,button{
	font-family:yugothib!important;
}

#TOP h3{
	line-height: 1.5
}

section{
	height:100vh;
}
section#GALLERY{
	height:auto;
}
.padding-texttop{
	padding-top: 26vh;
}
.padding-top-main-text{
    padding-top: 35px;
}
.row{
	margin:0!important;
}
pre{
	font-size: 1rem!important;
	overflow: unset!important;
	white-space: pre-wrap;       /* Since CSS 2.1 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.padding-top-secondary-txt {
	padding-top: 15px;
}
.cat-width {
    max-width: 700px!important;
    margin: 0 245px 0 auto;
}
.border-black{
	height: 250px;
	border: 1px solid #000000!important;
}
.center {
    margin: auto;
}
#COMMENTS p {
    margin-bottom: 0;
}
.border-1 {
    border: solid 1px!important;
    margin-top: 25px;
}
#GALLERY img,#MAP img  {
    max-width: 652px;
    width: 100%;
    height: auto;
}
#MAP img{
	min-width: 652px;
	padding-bottom: 15px;
}
ul.navbar-nav {
    margin: auto;
}
a.nav-link {
    padding: 0 2rem 0 2rem!important;
    color: #000000;
}
.navbar-fixed-top {
    position: fixed!important;
    right: 0;
    left: 0;
    z-index: 1111;
    opacity: 0.8;
}
.map-container{
	overflow:auto;
}
@media (min-width:767px){
	
	.expand-width{
		min-width: 865px;
	}
}
@media (max-width:767px){
	
	ul.navbar-nav {
		width: 100%;
		
	}
	.navbar {
		padding: 0!important;
	}
	a.nav-link {
		border-bottom: solid 1px;
		padding: 1rem 2rem 1rem 2rem!important;
	}
}

